In [1]:
print('helo world')

helo world

In [3]:
import pandas as pd
import numpy as np

In [5]:
# Load dataset
data = pd.read_csv("/content/tested.csv")
print(data.head())

   PassengerId  Survived  Pclass  \
0          892         0       3
1          893         1       3
2          894         0       2
3          895         0       3
4          896         1       3

                                           Name     Sex   Age  SibSp  Parch  \
0                              Kelly, Mr. James    male  34.5      0      0
1              Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                     Myles, Mr. Thomas Francis    male  62.0      0      0
3                              Wirz, Mr. Albert    male  27.0      0      0
4  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1

    Ticket     Fare Cabin Embarked
0   330911   7.8292   NaN        Q
1   363272   7.0000   NaN        S
2   240276   9.6875   NaN        Q
3   315154   8.6625   NaN        S
4  3101298  12.2875   NaN        S

In [6]:
# Feature 1: Family size
data['FamilySize'] = data['SibSp'] + data['Parch'] + 1

# Feature 2: IsAlone (binary feature)
data['IsAlone'] = (data['FamilySize'] == 1).astype(int)

# Feature 3: Fare per person
data['FarePerPerson'] = data['Fare'] / data['FamilySize']
data['FarePerPerson'] = data['FarePerPerson'].fillna(data['FarePerPerson'].median())

# Feature 4: Age groups (binned feature)
data['AgeGroup'] = pd.cut(data['Age'], bins=[0, 12, 18, 50, 80], labels=['Child', 'Teen', 'Adult', 'Senior'])

# Feature 5: Title extraction (if 'Name' exists)
if 'Name' in data.columns:
    data['Title'] = data['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Feature 6: Mean survival rate per Pclass
data['Pclass_Survival_Rate'] = data.groupby('Pclass')['Survived'].transform('mean')

# Drop redundant columns if necessary
columns_to_drop = ['Name', 'Ticket', 'Cabin']
for column in columns_to_drop:
    if column in data.columns:
        data.drop(column, axis=1, inplace=True)

# Display the processed dataset
print(data.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0          892         0       3    male  34.5      0      0   7.8292
1          893         1       3  female  47.0      1      0   7.0000
2          894         0       2    male  62.0      0      0   9.6875
3          895         0       3    male  27.0      0      0   8.6625
4          896         1       3  female  22.0      1      1  12.2875

  Embarked  FamilySize  IsAlone  FarePerPerson AgeGroup Title  \
0        Q           1        1       7.829200    Adult    Mr
1        S           2        0       3.500000    Adult   Mrs
2        Q           1        1       9.687500   Senior    Mr
3        S           1        1       8.662500    Adult    Mr
4        S           3        0       4.095833    Adult   Mrs

   Pclass_Survival_Rate
0              0.330275
1              0.330275
2              0.322581
3              0.330275
4              0.330275